<h2><%= @book.title %></h2>
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>Height:</strong> <%= @book.height %></p>
<p><strong>Publisher:</strong> <%= @book.publisher %></p>
<p><strong>Genre:</strong> <%= @book.genre.name %></p>
